@import 'base/_variables';
@import 'partials/_nav';
@import 'partials/_home';
@import 'partials/_community';
@import 'partials/_freetrial';
@import 'partials/_testimonials';
@import 'partials/_bookcourt';

body, h1, h2, p, .small-title {

  font-family: $regText;
}

.space-medium {

  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {

  margin-bottom: 0px;
  font-family: $headingFont;
  font-size: 0.95em;
}

p {

  font-size: 0.8em;

}

.btn {

  padding: 8px 25px;
}

.btn-default {

  font-family: $headingFont;
  background-color: $secondary;
}

.btn-default:hover, .btn-default:focus {

  opacity: $opacity;
  filter: Alpha(opacity=80);
  background-color: $secondary;
}
