@import 'base/_variables';
@import 'partials/_nav';
@import 'partials/_nav_contact';
@import 'partials/_home';
@import 'partials/_community';
@import 'partials/_freetrial';
@import 'partials/_testimonials';
@import 'partials/_bookcourt';
@import 'partials/_nashcup';
@import 'partials/_contact';
@import 'partials/_about';
@import 'partials/_footer';
@import 'partials/_front';
@import 'partials/_members';
@import 'partials/_bookvisit';
@import 'partials/_programs';

body, h1, h2, h3, h4, .small-title {

  font-family: $regFont;
}




p.intro {

  font-style: italic;
}

.content {

  padding-bottom: 0px;
}

.space-medium {

  padding-top: 25px;
  padding-bottom: 25px;
}

a {

  color: $secondary;
}

a:hover, a:active, a:focus {

  color: $primary;
}

html, body {

  height: 100%;
}


h1 {

  margin-bottom: 0px;
  font-family: $subheadingFont;
  font-weight: bold;
  font-size: 0.95em;
}

p {

  font-size: 0.85em;
  font-family: $regFont;
}

.btn {

  padding: 8px 25px;
}

.btn-default {

  font-family: $butFont;
  background-color: $secondary;
  opacity: 1;
  filter: Alpha(opacity=100);
  transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}

.btn-default:hover, .btn-default:focus {

  opacity: $opacity;
  filter: Alpha(opacity=80);
  background-color: $secondary;
}
