.cta-section {

  background: url('../images/court1.jpg') no-repeat center;
}

.cta-text {

  margin-bottom: 20px;
  font-size: 0.875em;
  margin-top: -10px;
}

.cta-title {

  padding-top: 25px;
  letter-spacing: 0px;
}
