// Nav

#navContain {

  display: relative;
}

 #navigation {

   z-index: 2;
   position: absolute;
   top: -2em;
   right: 0px;
   width: 100%;
 }
  #navRow.row{

    margin-top: -20px;
}

#navigation {

  margin: 0 0 0 15px;
}

 #navigation.small-screen {


   ul  {

     margin-left: -100%;

     li  {

        text-align: center;
        border-top: 0px;

         a {

           padding: 15.3px 20px;
           font-family: $medFont;
           background-color: $secondary;
           color: white;
           width: 200%;
         }

         a.socNav {

           padding: 10px 10px 0px;
           display: inline;
           background-color: $secondary;
         }

     }

     li.socNavContain {

       width: 200%;
       background-color: $secondary;
       padding: 15px;
     }

   }


   ul li a:focus, a:hover {

     background-color: $secondary;
     opacity: $opacity;
     filter: Alpha(opacity=80);
   }

   #menu-button {

      padding: 15px;
   }

   #menu-button:hover, #menu-button:active {

     opacity: $opacity;
     filter: Alpha(opacity=80);
   }

   #menu-button::before {

      background: green;
    }

    #menu-button::after {

      border-top: 2px solid $primary;
      border-bottom: 2px solid $primary;

    }

    #menu-button.menu-opened::before {

      background: $primary;
    }

    #menu-button.menu-opened::after {

      background: $primary;
    }

 }
