#testimonialPage {

  h1 {

    margin-bottom: 10px;
    font-size: 1.5em;
    color: $primary;
  }

  .mb60 {

    margin-bottom: 0px;
  }

  h4 {

    font-size:0.9em;
    color: $primary;
  }

}

.testimonial-block {

  padding-left: 1em;
  padding-right: 1em;
}

.testimonial-text {

  font-size: 1em;

}

.testimonial-info {

  margin: -20px 0 -10px 0;
}

.testimonial-name {

  font-family: $subheadingFont;
}

.testimonial-meta {

  color: $secondary;

}

#testimonialPage.space-medium {

    padding-bottom: 0px;
  }

  @media screen and (min-width:414px) and (max-width: 559px) {

    .testimonial-block {

      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }

  @media screen and (min-width:560px) and (max-width: 599px) {

    .testimonial-block {

      padding-left: 2em;
      padding-right: 2em;
    }
  }

  @media screen and (min-width:560px) and (max-width: 599px) {

    .testimonial-block {

      padding-left: 2em;
      padding-right: 2em;
    }
  }

  @media screen and (min-width:600px) and (max-width: 767px) {

    .testimonial-block {

      padding-left: 3em;
      padding-right: 3em;
      padding-bottom: 15px;
    }
  }

  @media screen and (min-width:768px) and (max-width:919px){

    .testimonial-block {

      padding-left: 1em;
      padding-right: 0em;
      padding-bottom: 20px;
    }

    #testimonialPage {

      .mb60 {

        margin-bottom: 20px;
      }
    }
  }

  @media screen and (min-width:920px) {

    .testimonial-block {

      padding-left: 0em;
      padding-bottom: 25px;
    }

    #testimonialPage {

      .mb60 {

        margin-bottom: 20px;
        margin-top: 20px;

      }
    }



    .testimonial-content {

      font-size: 1.3em;
      line-height: 32px;
    }


  }

  @media screen and (min-width:1200px) {

    .testimonial-block {

      padding-left: 2em;
      padding-right: 0em;
    }




  }
