#playContainer {

    margin: 0 auto;
    display: block;
    width: 15%;

}

// Play Button Styles

#playBtn {

    font-size: 3em;
    color: $primary;
    transition: color 0.5s ease-in-out;
}

#playBtn:hover {

    color: $secondary;

}

// Play Container Styles

@media screen and (min-width:375px) and (max-width: 599px) {

  #playContainer {

      margin: 0 auto;
      display: block;
      width: 10%;
  
  }

}

@media screen and (min-width:600px) and (max-width: 900px) {

  #playContainer {

      margin: 0 auto;
      display: block;
      width: 7%;
  
  }

}

@media screen and (min-width:901px) {

  #playContainer {

      margin: 0 auto;
      display: block;
      width: 4%;
  
  }

}

/* Background Video */


/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

.bg-video::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

.bg-video::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

.bg-video::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

.bg-video::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 1;
    overflow: hidden;
  }

@media screen and (min-width: 992px ) {
 
  .bg-video {
  
   height: 100%;
  }
  
}
  
  .video-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* OBJECT FIT property to fit the video to the element */
  }
  
  /* Background Video end*/

  /* VIDEO PLAYER / Video Controls Styles */

.videoScreen {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 4rem 0;
    background-color: white;
  }

  @media screen and (min-width: 1280px) {

    .videoScreen {

      padding-top: 10%;
    }
  }
  
  .close-videoScreen {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-family: $regFont; 
    font-size: 4rem;
    color:black;
    cursor: pointer;
  }
  
  .show-videoPlayer {
    display: block;
  }
  
  #videoElement {
    height: 50vh;
    border: thin solid #8e8e8e;
  }
  
  .controls {
    margin-top: 0em;
  }

  .controls ul [data-icon] {
    cursor: pointer;
  }
  
  .controls ul {
    list-style: none;
  }
  
  .controls ul li {
    display: inline-block;
    padding: 0.1em;
  }
  
  .play-pause {
    width: 2rem;
    margin: 0 2rem;
  }
  
  /* CLIP RANGE INPUT Crossbrowser */
  
  input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 10px;
    width: 400px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  ::-webkit-slider-runnable-track {
    background:grey;
    border: none;
  }
  
  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background:grey;
    box-shadow: -100vw 0 0 100vw $secondary ;
  }
  
  ::-moz-range-track {
    height: 40px;
    background:grey;
  }
  
  ::-moz-range-thumb {
    background:grey;
    height: 40px;
    width: 20px;
    border-radius: 50%;
    box-shadow: -100vw 0 0 100vw $secondary;
    box-sizing: border-box;
  }
  
  ::-ms-fill-lower {
    background: $secondary;
  }
  
  ::-ms-thumb {
    background: grey;
    border-radius: 50%;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
  }
  
  ::-ms-ticks-after {
    display: none;
  }
  
  ::-ms-ticks-before {
    display: none;
  }
  
  ::-ms-track {
    background:grey;
    color: transparent;
    height: 40px;
    border: none;
  }
  
  ::-ms-tooltip {
    display: none;
  }
  
  /* END INPUT RANGE RULES*/
  
  #muteBtn {
    color:grey; 
    cursor: pointer;
  }
  
  #volumeBar {
    width: 200px;
  }
  
  #clipTiming {
    font-size: 1.1em;
    vertical-align: bottom;
    position: relative;
    bottom: 0px;
  }
  
  /* Controls On  Mobile */
  
  #clipBar,
  #clipTiming,
  #volumeBar,
  #muteBtn {
    display: none;
  }
  
  /* Controls On  Mobile  end */

  @media screen and (min-width: 1024px) {

    #clipBar,
  #clipTiming,
  #volumeBar,
  #muteBtn {
    display: inline;
  }
  }
  

