  #nashTitle.cta-title {

    padding-top: 15px;


  }

  #nashPage.cta-section {

      background: url('../images/nash.jpg') no-repeat center;
  }

  #nashPage {

    img {

      margin-bottom: 22px;
    }

    .cta-text {

      margin-top: -15px;
      margin-bottom: 20px;
    }

    .cta-text.bold {

      font-weight: bold;
    }

  }

  //Image Queries

  @media screen and (min-width:321px) and (max-width:414px) {

    #nashPage.cta-section {

        background: url('../images/nash-iphoneplus.jpg') no-repeat center;
    }
  }

  @media screen and (min-width:415px) and (max-width:600px) {

    #nashPage.cta-section {

        background: url('../images/nash-smalltab.jpg') no-repeat center;
    }
  }

  @media screen and (min-width:601px) and (max-width:768px) {

    #nashPage.cta-section {

        background: url('../images/nash-tab.jpg') no-repeat center;
    }
  }

  @media screen and (min-width:769px) and (max-width:1024px) {

    #nashPage.cta-section {

        background: url('../images/nash-desktop.jpg') no-repeat center;
    }
  }

  @media screen and (min-width:1025px) and (max-width:1280px) {

    #nashPage.cta-section {

        background: url('../images/nash-wide.jpg') no-repeat center;
        background-size: 100%;
    }
  }

  @media screen and (min-width:1281px) {

    #nashPage.cta-section {

        background: url('../images/nash-big.jpg') no-repeat center;
        background-size: cover;
    }
  }


  //Logo Size and Text Queries

  @media screen and (min-width:769px) {

    #nashPage img {

        height: 8em;
        margin-bottom: 30px;
    }

    #nashPage p {

      font-size: 1em;
    }
  }

  @media screen and (min-width:520px) and (max-width: 768px){

    #nashPage img {

        height: 7.5em;
        margin-bottom: 30px;
    }
  }

  //Padding

  @media screen and (min-width:520px) and (max-width: 1200px) {

    #nashPage .container {

        padding-left: 40px;
        padding-right: 40px;
    }
  }

  @media screen and (min-width:1201px)  {

    #nashPage .container {

        padding-left: 5%;
        padding-right: 5%;
    }
  }
